
@import "../utils/variables";

.title_page {
position: absolute;
top: 24px;
right: 30px;
font-size: 2em;
color: $color-texteSecondaire;
/**/
}

#photographers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;}
   

.photographers_card {
   width: 30%;
   padding-bottom: 30px;
    min-width: 300px;
    text-align: center;

    .portrait {
        
            width: 20em;
            height: 20em;
            object-fit: cover;
            border-radius: 50%;
        
    }

    .name {
    color: $color-texteprimaire;
    font-weight: 400;
    font-size: 2em;
    margin-top: 10px;
    }

    span {
    display: block;
    font-size: 1em;
    padding: 3px 0;
     
    &.city {
        color: $color-texteprimaire;
    }
    &.price {
        color: $color-texteGris;
        font-style: italic;
    }

    }

    .infos_photographer_tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px 0;

        & .filter {
            
            border: .5px solid;
            border-radius: 30px;
            margin: 3px 6px 3px 0;
            color: #901c1c;
            padding: 2px 7px;
            font-weight: 500;
            font-size: .9em;
            cursor: pointer;
            &:active
            &:hover {
                background-color: $color-backgroundPrimaire ;
                color: $color-bacgroundWhite ;
             
            }
        }
        }
    
  

}

.photographers_card.show{
    display: block;

}

.photographers_card.hide{
    display: none;

}



@media screen and (max-width: 1330px) {

  .photographers_card .portrait {
    /* width: 20em; */
    /* height: 20em; */
    width: 15em;
    height: 15em;
  }
  
}





@media screen and (max-width: 800px) {

    .title_page {
      
        font-size: 1.5em;
     
        }
    
  }
  

  @media screen and (max-width: 530px) {

    .title_page {
      
        font-size: 1em;
        top: 18px;
     
        }
    
  }
  
  @media screen and (max-width: 342px) {

    .title_page {
      
        font-size: 0.9em;
        top: 14px;
     
        }

        .photographers_card .portrait {
            /* width: 20em; */
            /* height: 20em; */
            width: 12em;
            height: 12em;
          }
    
  }

