@import "../utils/variables";

.pp_header {
    display: flex;
    justify-content: space-between;
  margin: 0 100px;
  padding: 63px 35px 48px 65px;
  background: #fafafa;

  .pp_infos {
    display: block;
    font-size: 0.9em;
    margin: 15px 0;

    .pp_name {
      font-size: 2.8em;
      font-weight: 400;
      color: #d3573c;
      margin: 15px 0;
    }
    .pp_city {
      font-size: 1.2em;
      color: #901c1c;
      display: block;
      margin: 15px 0;
    }

    .pp_tagline {
        display: block;
      color: #525252;
      margin: 15px 0;
    }

    .pp_tags {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0;

      & .filter-tag {
        border: 0.5px solid #c4c4c4;
        border-radius: 30px;
        margin: 3px 6px 3px 0;
        color: #901c1c;
        padding: 2px 7px;
        font-weight: 500;
        font-size: 0.9em;
      }

   
    }
  }

.pp_contact {
background: #901c1c;
width: 10em;
height: 4em;
color: #fff;
font-weight: 500;
border: none;
border-radius: 5px;
font-size: 1em;
cursor: pointer;
}

.pp_portrait {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
}



}





/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #901c1c;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  left: 225px;
  display: flex;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #901c1c;
  overflow: hidden;
  border-radius: .25em;

}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\f078";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background:#901c1c;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}



.pp_galery_medias {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 100px;
margin-left: 100px;

    .pp_media {
      color: #901c1c;
      font-size: 1.1em;
      font-weight: 500;
    
      & img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    & video {
      width: 350px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }
      }


   .pp_media_infos {
    display: flex;
    justify-content: space-between;
  margin-bottom: 30px;
    margin-top: 20px;

    .media_infos-title {
      width: 10em;
      font-size: 24px;
      font-weight: 400;
     
    }
    .fas.fa-heart{
      cursor: pointer;
    }
   }
  }
    





















.pp_infos_data {
 display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 40px;
  background: #db8876;
  width: 375px;
  height: 70px;
  border-radius: 5px;
  padding: 0 35px;
  font-weight: 500;
  font-size: 1.2em;
}








.lightbox_modal {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    display: none;

  }






    .lightbox_modal_content {
    
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      width: 100vw;
      max-width: 1250px;
      height: 100vh;
      
    


    .lightbox_modal_content-media {
      position: relative;
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      color: #901c1c;


      & img {
        max-width: calc(100vw - 80px);
    max-height: calc(100vh - 100px);
    height: auto;
    text-align: center;
      }
    }


  


    button {
      border: none;
      color: #901c1c;
      background: none;
      font-size: 2em;

    }
    .lightbox-close{
      position: absolute;
right: 30px;
    }

    .align {
      position: absolute;
      top: 50%;
    }

    .lightbox-right{
      position: absolute;
      right: 30px;
    }

    .lightbox-left{
      position: absolute;
      left: 30px;
    }
  
  }




  //=========================================== MODAL FORM

  .form_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e6e6e691;
    display: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */



  .form_modal_content {
    position: absolute;
    top: 15%;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      width: 100vw;
      max-width: 600px;
      max-height: 700px;
     height: 100vh;
      background-color: #db8876;
      border-radius: 5px;
  }

}


  .form_contact {
    padding: 50px;
    display: flex;
    flex-direction: column;

    .form_close {
      border: none;
      background: none;
      color: white;
      font-size: 0.8em;
      position: absolute;
      top: 60px;
      right: 50px;

    }

    .form_title_photographer {
      font-size: 2.6em;
      font-weight: 400;

    }

    h1 {
     
      font-weight: 400;
    }

 .form_name {
   margin-bottom: 10px;
   display: block;
 }

     label {
       font-size: 1.8em;
      margin: 6px 0 6px 0;
     }

     input {
      border: none;
      border-radius: 5px;
      padding: 5px;
      font-size: 1.7em;
     }

     textarea {
       border: none;
       border-radius: 5px;
       margin-bottom: 6px;
     }

  .form_submit_btn {
      width: 10em;
      font-size: 1em;
      padding: 25px;
      margin-top: 1em;
      background: #901c1c;
      color: #fff;
     }

}

