/*Couleurs et score WCAG PRIMAIRE : */
/*Couleurs et score WCAG SECONDAIRE : */
.pp_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 100px;
  padding: 63px 35px 48px 65px;
  background: #fafafa;
}

.pp_header .pp_infos {
  display: block;
  font-size: 0.9em;
  margin: 15px 0;
}

.pp_header .pp_infos .pp_name {
  font-size: 2.8em;
  font-weight: 400;
  color: #d3573c;
  margin: 15px 0;
}

.pp_header .pp_infos .pp_city {
  font-size: 1.2em;
  color: #901c1c;
  display: block;
  margin: 15px 0;
}

.pp_header .pp_infos .pp_tagline {
  display: block;
  color: #525252;
  margin: 15px 0;
}

.pp_header .pp_infos .pp_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 0;
}

.pp_header .pp_infos .pp_tags .filter-tag {
  border: 0.5px solid #c4c4c4;
  border-radius: 30px;
  margin: 3px 6px 3px 0;
  color: #901c1c;
  padding: 2px 7px;
  font-weight: 500;
  font-size: 0.9em;
}

.pp_header .pp_contact {
  background: #901c1c;
  width: 10em;
  height: 4em;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.pp_header .pp_portrait {
  width: 10em;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.pp_galery_medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}

.pp_galery_medias .pp_media {
  color: #901c1c;
  font-size: 1.1em;
  font-weight: 500;
}

.pp_galery_medias .pp_media img {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.pp_galery_medias .pp_media video {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.pp_galery_medias .pp_media_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

.pp_galery_medias .pp_media_infos .media_infos-title {
  width: 10em;
  font-size: 24px;
  font-weight: 400;
}

.pp_galery_medias .pp_media_infos .fas.fa-heart {
  cursor: pointer;
}

.pp_infos_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  right: 40px;
  background: #db8876;
  width: 375px;
  height: 70px;
  border-radius: 5px;
  padding: 0 35px;
  font-weight: 500;
  font-size: 1.2em;
}

.lightbox_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  -webkit-transform: scall(0.9);
          transform: scall(0.9);
  display: none;
}

.lightbox_modal.show {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lightbox_modal_content {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  max-width: 1250px;
  height: 100vh;
}

.lightbox_modal_content .lightbox_modal_content-media {
  position: relative;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #901c1c;
}

.lightbox_modal_content .lightbox_modal_content-media img {
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 100px);
  height: auto;
  text-align: center;
}

.lightbox_modal_content button {
  border: none;
  color: #901c1c;
  background: none;
  font-size: 2em;
}

.lightbox_modal_content .lightbox-close {
  position: absolute;
  right: 30px;
}

.lightbox_modal_content .align {
  position: absolute;
  top: 50%;
}

.lightbox_modal_content .lightbox-right {
  position: absolute;
  right: 30px;
}

.lightbox_modal_content .lightbox-left {
  position: absolute;
  left: 30px;
}

.form_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e6e6e691;
  display: none;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.form_modal .form_modal_content {
  position: absolute;
  top: 15%;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  max-width: 600px;
  max-height: 700px;
  height: 100vh;
  background-color: #db8876;
  border-radius: 5px;
}

.form_contact {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_contact .form_close {
  border: none;
  background: none;
  color: white;
  font-size: 0.8em;
  position: absolute;
  top: 60px;
  right: 50px;
  cursor: pointer;
}

.form_contact .form_title_photographer {
  font-size: 2.6em;
  font-weight: 400;
}

.form_contact h1 {
  font-weight: 400;
}

.form_contact .form_name {
  margin-bottom: 10px;
  display: block;
}

.form_contact label {
  font-size: 1.8em;
  margin: 6px 0 6px 0;
}

.form_contact input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.7em;
}

.form_contact textarea {
  border: none;
  border-radius: 5px;
  margin-bottom: 6px;
}

.form_contact .form_submit_btn {
  width: 10em;
  font-size: 1em;
  padding: 25px;
  margin-top: 1em;
  background: #901c1c;
  color: #fff;
}

.works-sort {
  position: relative;
  margin: 20px 0 0 20px;
  margin-left: 100px;
}

.sort-label {
  font-weight: 700;
  margin-right: 25px;
  font-size: 1.2rem;
}

.sort-btn {
  position: absolute;
  top: -7px;
  left: 120px;
  width: 165px;
  background: #901c1c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-btn:hover {
  cursor: pointer;
}

.sort-list {
  display: none;
  position: absolute;
  z-index: 10;
  top: -15px;
  left: 120px;
  width: 170px;
  border-radius: 5px;
  color: #fff;
  background: #901c1c;
}

ul {
  list-style: none;
}

.sort-list li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 0 0;
}

.sort-list li:nth-child(2) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.sort-list li {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.sort-list li:hover {
  background-color: #651414;
  cursor: pointer;
}

.sort-list li:nth-child(3) {
  border-radius: 0 0 5px 5px;
}

.sort-list li {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
/*# sourceMappingURL=photographer-page.css.map */