/*Couleurs et score WCAG PRIMAIRE : */

$color-backgroundPrimaire: #901C1C;
$color-texteprimaire: #D3573C;

/*Couleurs et score WCAG SECONDAIRE : */

$color-backgroundSecondaire: #D3573C;
$color-texteSecondaire: #901C1C;
$color-texteGris: #525252;
$color-bacgroundWhite: #FAFAFA;